div {
    background-color: pink;
    position: absolute;
    text-align: center;
    left: 40%;
    font-size: 30px;
    padding: 50px;
    font-family: arial;
}

a{
    position: absolute;
    font-family: arial;
    background-color: pink;
    text-align: center;
    top: 0 ;
    padding: 20px;
    color: black;
    left : 0;
}

h1{
    font-family: cursive;
    color: green;
    text-align: center;
}

footer {
    padding: 20px;
    background-color: black;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: cursive;
}